 <h5 class="text-success mt-5 text-center">
        Agregar Nuevo Producto
    </h5>
    <form class="my-4 w-50 mx-auto" 
    #f="ngForm" (submit)="f.form.valid && guardarProducto($event)">

    <div class="d-flex justify-content-between alig-items-center">
        <input type="text" id="productoDesc" name="productoDesc" class="form-control mb-2 w-50" placeholder="Escriba la descripcion del producto" autocomplete="off" [(ngModel)]="descripcionInput" required/>
        <input type="number" id="precioProd" name="precioProd" class="form-control mb-2 w-50" placeholder="Escriba el precio del producto" autocomplete="off" [(ngModel)]="precioInput" required/>
    </div>

    <div class="d-flex justify-content-center mt-3">
        <button type="submit" class="btn btn-success">
            Agregar Producto
        </button>

        @if (llaveProducto !== null) {
            <button type="button" class="btn btn-warning mx-3" (click)="eliminarProducto()">
                Eliminar Producto
            </button>
        }

        <button type="button" class="btn btn-danger mx-3" (click)="cancelar()">
            Cancelar
        </button>
    </div>
    </form>
